body {
  margin: 0;
  padding: 0;
  background: url(../imagenes/pexels-arminas-raudys-904177.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Orbitron", sans-serif;
}
@mixin prop1 {
  color: map-get($map: $colores, $key: "1");
  font-family: "Orbitron", sans-serif;
}
@mixin prop2 {
  color: map-get($map: $colores, $key: "2");
  font-family: "Orbitron", sans-serif;
}
$colores: (
  "1": rgb(0, 0, 0),
  "2": rgb(255, 255, 255),
  "3": rgba(200, 204, 255, 0.719),
);
.container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: map-get($map: $colores, $key: "3");
  border-radius: 10px;
  padding: 1rem;
}
@media only screen and (min-width: 767px) {
  .parrafo {
    padding: 0.1rem;
    font-family: "Oswald", sans-serif;
    font-size: large;
  }
  .container {
    margin: 1rem 5rem;
    max-width: fit-content;
  }
}
.ref {
  font-size: xx-small;
}
#pie {
  position: absolute;
  padding: 0.5em;
  text-align: center;
  width: 100%;
  height: fit-content;
}
@media only screen and (max-width: 766px) {
  .container {
    padding: 10px;
    max-width: fit-content;
    margin: 1rem;
    background-color: map-get($map: $colores, $key: "1");
    color: map-get($map: $colores, $key: "2");
    justify-items: flex-start;
    margin-bottom: 5rem;

    .parrafo {
      font-size: 14px;
      font-family: "Oswald", sans-serif;
    }
  }
}
#navbarScroll {
  font-family: "Orbitron", sans-serif;
}
.navbar-brand {
  font-family: "Orbitron", sans-serif;
}
