body {
  margin: 0;
  padding: 0;
  background: url(../imagenes/pexels-arminas-raudys-904177.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
@mixin prop1 {
  color: map-get($map: $colores, $key: "1");
  font-family: "Orbitron", sans-serif;
}
@mixin prop2 {
  color: map-get($map: $colores, $key: "2");
  font-family: "Orbitron", sans-serif;
}
$colores: (
  "1": rgb(0, 0, 0),
  "2": rgb(255, 255, 255),
  "3": rgba(17, 0, 255, 0.199),
);
.container {
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: rgba(0, 81, 255, 0.171);
  border-radius: 10px;
}
@media only screen and (min-width: 767px) {
  .container {
    margin: 1rem 5rem;
    max-width: fit-content;
    padding: 1rem;
  }
}
@media only screen and (max-width: 766px) {
  .container {
    max-width: fit-content;
    margin: 1rem;
    background-color: map-get($map: $colores, $key: "1");
    color: map-get($map: $colores, $key: "2");
    justify-items: flex-start;
    margin-bottom: 5rem;

    .parrafo {
      font-size: 10px;
    }
  }
}
#navbarScroll {
  font-family: "Orbitron", sans-serif;
}
.navbar-brand {
  font-family: "Orbitron", sans-serif;
}
#pie {
  position: relative;
  bottom: 0;
  padding: 1em 0;
  text-align: center;
  transform: translateY(100%);
}
