* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
@mixin prop1 {
  color: map-get($map: $colores, $key: "1");
  font-family: "Orbitron", sans-serif;
}
@mixin prop2 {
  color: map-get($map: $colores, $key: "2");
  font-family: "Orbitron", sans-serif;
}
$colores: (
  "1": rgb(0, 0, 0),
  "2": rgb(255, 255, 255),
  "3": rgb(0, 255, 255),
);
#body {
  background-image: linear-gradient(
    100deg,
    #a85ecd 0,
    #9757cc 25%,
    #8450cc 50%,
    #6e4acc 75%,
    #5345cb 100%
  );
  position: relative;
  padding-bottom: 3.5em;
  color: map-get($map: $colores, $key: "2");
  background-color: map-get($map: $colores, $key: "1");
}
.navbar-brand {
  font-family: "Orbitron", sans-serif;
  color: map-get($map: $colores, $key: "3");
}

#navbarScroll {
  font-family: "Orbitron", sans-serif;
}
.row {
  position: relative;
  left: 25%;
  h4 {
    color: map-get($map: $colores, $key: "2");
    font-weight: bold;
  }
}
.textos {
  width: 1000px;
  font-size: 10px;
  font-family: "Orbitron", sans-serif;
  color: map-get($map: $colores, $key: "1");
  margin: 20px 0;
}
.descripcion {
  display: grid;
  @include prop1();
  font-size: 30px;
  text-align: justify;
  max-width: 70%;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
footer {
  @include prop1();
  position: relative;
  bottom: 0;
  padding: 1em 0;
  text-align: center;
}
.carousel-inner {
  h3 {
    background-color: map-get($colores, base);
    color: map-get($map: $colores, $key: "2");
    margin-bottom: 10px;
    font-size: 70%;
  }
}
#clicked {
  padding-top: 1px;
  padding-bottom: 1px;
  text-align: center;
  width: 100%;
  background-color: #ecb21f;
  border-color: #a88734 #9c7e31 #846a29;
  color: map-get($map: $colores, $key: "1");
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
}
#profile {
  background-color: unset;
  text-decoration: none;
  color: map-get($map: $colores, $key: "2");
  background-color: map-get($map: $colores, $key: "1");
}
#post {
  margin: 10px;
  padding: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  background-color: map-get($map: $colores, $key: "3");
  border-color: map-get($map: $colores, $key: "3")
    map-get($map: $colores, $key: "3") map-get($map: $colores, $key: "3");
  color: map-get($map: $colores, $key: "1");
  border-width: 1px;
  border-style: solid;
  border-radius: 13px;
  width: 50%;
}
.comments {
  margin-top: 5%;
  margin-left: 20px;
}
.darker {
  border: 1px solid map-get($map: $colores, $key: "3");
  background-color: map-get($map: $colores, $key: "1");
  float: right;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;
  padding-top: 10px;
  h4 {
    display: inline;
  }
  span {
    display: inline;
    color: rgb(184, 183, 183);
  }
  p {
    color: rgb(184, 183, 183);
  }
}
.comment {
  border: 1px solid rgba(16, 46, 46, 1);
  background-image: linear-gradient(
    180deg,
    #5c3f64 0,
    #4a2f5e 25%,
    #321f59 50%,
    #0a1254 75%,
    #000550 100%
  );
  float: left;
  border-radius: 5px;
  padding-left: 40px;
  padding-right: 30px;

  h4 {
    display: inline;
  }
  span {
    display: inline;
    color: rgb(184, 183, 183);
  }
  p {
    color: rgb(184, 183, 183);
  }
}
h1 {
  color: map-get($map: $colores, $key: "2");
  font-weight: bold;
}
h4 {
  color: map-get($map: $colores, $key: "2");
  font-weight: bold;
}
label {
  color: map-get($map: $colores, $key: "2");
}
#align-form {
  margin-top: 20px;
}
.form-group {
  p {
    a {
      color: map-get($map: $colores, $key: "2");
    }
  }
  input {
    background-color: map-get($map: $colores, $key: "1");
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
  }
  textarea {
    background-color: map-get($map: $colores, $key: "1");
    border: 1px solid rgba(16, 46, 46, 1);
    border-radius: 12px;
  }
}
#checkbx {
  background-color: map-get($map: $colores, $key: "1");
}
#darker {
  img {
    margin-right: 15px;
    position: static;
  }
}
form {
  border: 1px solid rgba(16, 46, 46, 1);
  background-color: rgba(16, 46, 46, 0.973);
  border-radius: 5px;
  padding: 20px;
}
@media (min-width: 568px) {
  .end {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  #post {
    width: 100%;
  }
}
